  <!-- messages -->
  <div class="row">
    <div class="col s12 m12 l12">
      <ul id="messages" class="collection" style="margin-bottom:70px"></ul>
    </div>

      <div id="message-container" class="col s12 m12 l12" style="position:fixed ;bottom:0;background-color:white;border-top: 1px solid #e0e0e0">
        <form >
            <div class="input-field col s12">
                <i class="material-icons prefix">message</i>
                <input id="icon_prefix" type="text" autocomplete="off" autofocus>
                <label for="icon_prefix">Envie uma mensagem</label>
            </div>
        </form>
      </div>
  </div>

  </div>
  <div id="last-message"></div>

  <!--SCRIPTS-->
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>
  <script src="js/color-thief.min.js"></script>
  <script>
    function getDominantColor() {
      var myImage = document.getElementById('profile');
      myImage.addEventListener('load', function() {
          var colorThief = new ColorThief(),
              color = colorThief.getColor(myImage),
              colorRgb = 'rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ')';
              $('nav').css("background-color", colorRgb);
          return colorRgb;          
      });
    }
  </script>
